<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Book App</title>
  <link rel="stylesheet" type="text/css" href="/styles/layout.css" />
  <link rel="stylesheet" type="text/css" href="/styles/reset.css" />
  <link rel="stylesheet" type="text/css" href="/styles/base.css" />
</head>

<body class="container">
  <header>
    <h2>Book Shelf</h2>
  </header>
  <main>
    <ul>
      <% results.forEach(data => { %>
      <li><%= data.title %></li>
      <li><%= data.authors %></li>
      <li><%= data.description %></li>
      <li>book image <%= data.bookImage %></li>
      <img src='<%= data.bookImage %>' alt='<%= data.title %>'>
      <% }) %>
    </ul>
 

  </main>
</body>

</html>